.vscode
.idea

venv

output/*
!output/.keep

py310
git

train/*
logs/*
sd-models/*
!sd-models/put stable diffusion model here.txt
!logs/.keep

tests/

huggingface/hub/

Development.md


__pycache__
preprocess_tools/__pycache__/
*.ckpt
*.safetensors
*.pth
*.pt